[2017-03-23 18:19] brencklebox opened #8 "File not found + HiveContext Issue"
Hi,

I'm trying to use the connector you wrote to read/write from BigQuery on Databricks. Very much appreciate the effort the make Databricks and BigQuery play nicely together. Im trying to get this to work on a minimal Databricks Cluster (so just one driver and one worker), using Spark 2.1, and Scala 2.11 (not sure if those are requirements, but they seemed like safe bets).

I've followed the ins

[2017-03-23 18:25] samelamin commented on #8
Thanks for the kind words!

That sounds to me like the jar aren't attached to the clusters. It can't
find a reference to the bigquery classes

Are you importing the libraries in your notebook?

Does the import command run successfully?

I'd try it out with the scala code and see if it works. I'm away from my
laptop now but can have a look tonight on the Pyspark part
On Thu, 23 Mar 2017 at 18:19, b

[2017-03-23 18:35] brencklebox commented on #8
Sorry for the confusion, I'm doing all of this in scala, just copying the code from the readmes. Haven't tried to introduce any Python yet.

I do have an update: writing to bigQuery seems to work with:

[code]

which does in fact make the correct "random" table  in my project, dataset test.
So the issue seems to be limited to the `bigQueryTable` read function

[2017-03-23 18:44] samelamin commented on #8
Ah ok well that clears things up. I'll have a look at the bigqueyTable when
I get home

In the mean time you can probably use the sql select function to run a sql
statement over the entire table
On Thu, 23 Mar 2017 at 18:35, brencklebox <notifications@github.com> wrote:

[2017-03-23 21:46] samelamin commented on #8
@brencklebox I was able to reproduce the issue, I have just released a fix to spark packages and you should see it shortly. V0.1.4

Give it a go and give a me a shout if you have any more issues

Thanks for raising this!

Really would appreciate it if you rate the package when you get a chance

[2017-03-23 21:46] #8 closed

[2017-03-31 16:29] samelamin commented on #8
@brencklebox are you still facing any issues?

[2017-03-31 16:33] brencklebox commented on #8
nope!

Everything is working perfectly, thanks!

[2017-03-31 16:34] samelamin commented on #8
perfect, if you get a chance please do rate the package!

[2017-04-12 15:31] kurtmaile opened #10 "Key File not found"
Hiya,

Giving this a whirl on databricks, ran into a small first bump, hoping you can help.  The json key file is definitely there as I mount the dir (from s3 where it lives) to dbfs and also do a head of the contents of the json which has contents of course.

However I get below when running the code (refer dropbox link):

java.io.IOException: Error reading credential file from environment variab

[2017-04-12 16:31] selamin commented on #10
Hi @kurtmaile thanks for raising it

Just mounting the s3 file wont work, I think you physically need to save the file

You can test this by using the dbfs.utils.ls and the file should appear, or running a shell script using %sh ls

If the file isnt appearing then the application cannot see it

Hope that makes sense

[2017-04-12 16:32] samelamin commented on #10
Hi @kurtmaile thanks for raising this, the problem is S3 isnt really a file system

Just mounting the s3 file wont work, I think you physically need to save the file to the cluster file system

You can test if this file exists by using the dbfs.utils.ls and the file should appear, or running a shell script using %sh ls

If the file isnt appearing then the application cannot see it

Hope that makes

[2017-04-12 17:56] kurtmaile commented on #10
Hey thanks alot for your quick response! :)

The file is there now - I headed it and saved the json contents (put it) to a new local dir, you can see in the dbox link the ls finds it (the head shows the right contents even though not displayed) but still get the same error.  Odd!?

https://www.dropbox.com/s/4i6gcok6uyvwb2s/Screenshot%202017-04-12%2018.52.19.png?dl=0

Bit stumped on this rather sim

[2017-04-12 18:01] kurtmaile commented on #10
hmmm just seen there is a prefix of 'file:/' for local disk Ill try that!

[2017-04-12 18:07] kurtmaile commented on #10
ok so that worked thanks heaps!  The little subtle things :) - legend thanks for helping out.

[2017-04-12 18:07] #10 closed

[2017-04-12 18:39] samelamin commented on #10
No worries glad we got there in the end!

I would appreciate it if you rated it! It really helps
On Wed, 12 Apr 2017 at 19:07, kurtmaile <notifications@github.com> wrote:

[2017-04-17 09:53] kurtmaile opened #11 "saveAsBigQueryTable: Schemas dont match?"
Hi,

Thanks for your help on the previous issue.

Im getting the error below when trying to save a very simple dataframe (4 strings and 1 boolean - simple!) into a bigQuery table with matching column names, types and even the order (does order of dFrame cols need ot match order for bquery table?  I assume not, but have the same order anyway).

dframe.flattenedEvent.saveAsBigQueryTable(...)

its su

[2017-04-17 09:57] samelamin commented on #11
Hey Kurt, Seems the schemas do not match. If I were you I would try to save to a duplicate table and compare the schemas

It might be that there is a bug when inferring the schema because BigQuery Schemas do not match the Spark Struct Schema exactly

[2017-04-18 14:21] samelamin commented on #11
@kurtmaile do you still require help in this?

[2017-04-18 15:07] kurtmaile commented on #11
Hey thanks 'Ill close it and try what you suggested cheers!

[2017-04-18 15:44] samelamin commented on #11
@kurtmaile this is exactly why I am working on https://github.com/samelamin/docker-zeppelin, feel free to send a pr for a notebook that you might find beneficial

There are various public github datasets

[2017-04-21 14:35] lnicalo opened #12 "checkpointing when writing in BigQuery?"
I have a doubt in relation to writing on BigQuery.

Apparently there is checkpointing in place while writing data to bigquery.

However data is written twice when the spark context is stopped and resumed. It seems that the state is not saved.

The source code is essentially as follows:

[code]

[2017-04-24 13:39] kurtmaile opened #13 "Spark MapType conversion no supported?"
Hi,

I have a MapType struct in my schema, and I am getting the error below when converting - I assume then this isnt supported?  Is there any (soonish) plans to do so?

Thanks!

[code]

[2017-04-24 14:20] samelamin commented on #13
Hi @kurtmaile at the moment MapType isnt supported, please feel free to send a pr

The code for the converters can be found [here](https://github.com/samelamin/spark-bigquery/blob/master/src/main/scala/com/samelamin/spark/bigquery/converters/SchemaConverters.scala)

[2017-04-24 14:20] #13 closed

[2017-04-24 14:20] samelamin commented on #12
Hi @lnicalo sorry for the late reply I was away. I will have a look at this when I get a chance today. There shouldnt be duplicate writes but there might be a bug with the writeahead logs

[2017-04-24 19:10] kurtmaile commented on #13
Hey thanks - Id love to, not so familiar with the codebase, based on your experience of other types how long and how hard do you think this is (as up against it for time on a PoC but would like to contribute back to your repo :)

[2017-04-24 19:31] samelamin commented on #13
Hey @kurtmaile shouldnt take more than an hour or two, just needs to add the maptype to the switch statements and the reverse is true

you have to figure out what the maptype would translate to in BigQuery world

[2017-04-24 20:15] kurtmaile commented on #13
cool Ill submit the PR in the next few days then - cheers for your help

[2017-04-24 21:27] samelamin commented on #12
@lnicalo I just released a fix for this, should be available on databricks soon. Version 0.1.5

Please do rank the package if you find it useful 😄

[2017-04-24 21:27] #12 closed

[2017-04-25 08:30] samelamin commented on #13
@kurtmaile thanks! and if you can get a chance can you please rate the package

[2017-04-25 10:17] lnicalo commented on #12
Tested on my side. Thank you.

[2017-04-25 10:22] lnicalo opened #15 "BQ Tables partitioned by time by default"
After uploading data to big query, tables are always partitioned by time. How do you configure it to avoid this behavior?

Thank you

[2017-04-25 10:27] samelamin commented on #15
Hi @lnicalo you can change the signature when saving the table, see [here](https://github.com/samelamin/spark-bigquery/blob/master/src/main/scala/com/samelamin/spark/bigquery/package.scala#L154)

FYI for structured streaming, saving to a non time partitioned table is not available at the moment

[2017-04-25 10:27] #15 closed

[2017-05-05 16:34] vijaykramesh opened #16 "setBigQueryDatasetLocation break YARN mode"
Thanks for the library, seems to be working great!

I ran into a very odd issue that took me far too long to figure out.  I'm running Spark 2.1 on Qubole (on AWS) and after getting everything working (my query would complete, etc) was still having the job fail at the end with a particularly odd error:

[code]

Doing some binary search commenting out of code to figure out where the problem was and

[2017-05-05 20:00] vijaykramesh commented on #16
After a bit more investigation it seems like whatever
[code]

triggers also happens when you run
[code]

if I run
[code]

the yarn stuff all continues to function, but if I run `bigQuerySelect` the job invariably fails complaining

[code]

[2017-05-08 12:07] samelamin commented on #16
thanks for reporting this @vijaykramesh. Sorry for the late reply I was away for the weekend
Sounds like its an issue specific to Qubole and its setup with Yarn which I have never personally used

I suggest trying to replicate it locally because it sounds like it is an environment specific issue. Sorry I cant be much help!

[2017-05-08 12:07] #16 closed

[2017-05-09 06:38] kurtmaile opened #17 "Feature Request: Spark MapType mapping to BQuery"
Hi Sam,

Firstly loving the library thanks! :)  Also enjoyed both your first blog post on the building robust pipelines (second post soon hopefully :) and your commentry on spark testing too on hangouts chat with Holden.  Spark testing is for sure challenging as Im finding, Im fairly new to spark / scala so finding my feet but enjoying it.  What is the best resources / examples for spark (scala) t

[2017-05-09 08:25] samelamin commented on #17
You are most welcome! Thank you for the kind words and I will make sure to pass on your thanks to Holden

Unfortunately I am not free for the next month or so but I will share it in the twitterverse to see if anyone else would like to pick it up 😉

[2017-05-09 08:34] kurtmaile commented on #17
Cool no probs and also the kind words are deserved! :)  Enjoy your work and insight, hopefully one day not too far away I can get myself spark productive to contribute back.  In the mean time will continue to enjoy this library cheers!

[2017-05-09 08:34] #17 closed

[2017-05-09 18:38] kurtmaile opened #18 "Databricks - GCP Key Missing in Multi-Node Cluster"
Hi Sam,

I ran into an interesting issue today Im not sure of the cause  but suspect its me - its just happened so need to do some deeper digging but thought to reach out to you in case you spotted anything a rookie mistake quickly and could help.

My notebook in the community edition works great and writes my dataframes out to the designated BigQuery tables as expected.  All good.

Now I've recen

[2017-05-09 19:18] vijaykramesh commented on #18
not sure how to accomplish this in a notebook, but I've found I have to include my json key with the `--files /path/to/key.json` when running `spark-submit`.  that should get it on all the worker nodes where it is readable.

[2017-05-09 19:27] samelamin commented on #18
Hi guys

@kurtmaile you are absolutely right, the worker node cannot find the gcp file.

What you can do is create an [init](https://docs.databricks.com/user-guide/advanced/init-scripts.html) script which will load the credentials file when a cluster is created

Here is an example script

[code]

I hope this helps!

[2017-05-09 19:27] #18 closed

[2017-05-10 08:24] kurtmaile commented on #18
Hi guys,

Awesome thanks for this info this helps greatly!
I will give the init feature a go today, much appreciated once again for the speedy response.

Cheers

[2017-05-12 13:51] kurtmaile opened #20 "Spark 2.1 - Structured Streaming Watermarking Exception"
Hi guys,

I am trying to use the structured streaming BQ sink to execute this sliding window:

[code]

....(note the 'append' mode needed to have watermarks....and some othe boilerplate code is left out above) and have run into this exception setting a watermark for my streamingQuery.

[code]
Firstly is there anything wrong with my watermarking code it appears right?  Has anyone created a sliding

[2017-05-15 20:36] kurtmaile commented on #20
Can anyone help on this please?

[2017-05-16 15:54] samelamin commented on #20
Hi @kurtmaile sorry for the late reply I am away at a conference

At the moment the connector is always appending to a BQ table, hence the output mode is always append

I personally have not used watermarking yet but I can have a look at replicating it when I am back home next week

Regards
Sam

[2017-05-16 18:57] kurtmaile commented on #20
Hi,

No probs and thanks for looking into it when you can, would be a very cool feature addition.

Good luck with the presentation and conference, hoping its recorded so I can watch it later. :)

Cheers mate!

[2017-05-19 08:55] lnicalo opened #21 "How the package writes data on BigQuery?"
Reviewing the source code, I understand that Spark DF are written on GCS as json files, then they are loaded from GCS into BigQuery. Can you please confirm this?

I just want to confirm that I do not use Streaming Inserts into Bigquery whose price is $0.05 per GB

Thank you

[2017-05-19 08:59] samelamin commented on #21
Yes thats correct, we do not use streaming inserts as of yet

[2017-05-19 08:59] #21 closed

[2017-05-19 11:06] kurtmaile commented on #20
Hi Sam,

Hope you had fun at the conference!  Where are you based BTW?

Quick one on this topic.  Thanks so much for offering to look at it next week.  Any chance this would be early in the week?  Of course its up to you as your time you are offering :)  I have proposed and built a solution using structured streaming which depends on this feature - so obviously very grateful for your help.  This l

[2017-05-19 22:55] samelamin commented on #20
Hey @kurtmaile thanks for the kind words. Im based in London. Very kind of you to offer to help and I might take you up on the offer to donate! That said you dont have to as I will be implementing it time permitting over the next few weeks

I personally have not used watermarking so perhaps if we have a call to discuss what you are trying to build exactly there might be a solution while you wait o

[2017-05-20 11:21] kurtmaile commented on #20
Cool happy to donate for sure given my immediate need and benefit!  Legend.

Ill put a few slides together to discuss then on my streaming use case.  Briefly in the meantime I am doing a lot of order sliding window aggregations (e.g sales per 10 mins), which needs watermarks for late event handling and so Spark can clean/free up memory.  These aggregations (plus the raw events) make their way to B

[2017-05-23 10:34] kurtmaile opened #22 "Table Region not EU"
Hi Sam,

My BQ tables created from this library (Create Disposition is CREATE_IF_NEEDED) do not seem to recognise the 'EU' region setting and they all end up with 'Data Location' as 'US' in BQ when looking at the Table details.

spark.sqlContext.setBigQueryDatasetLocation("EU")

Any ideas?

Cheers!

[2017-05-23 10:37] samelamin commented on #22
Hi @kurtmaile that's very strange how are you saving the table? Via streaming or saveAsBigQueryTable?

I'll try to reproduce when I am home.

FYI you do not need the create disposition because it's create if needed by default

Can you make sure the dataset is in the EU location

[2017-05-23 10:48] kurtmaile commented on #22
Thanks for the swift reply.

This is via 'saveAsBigQueryTable'

I just checked and created a new dataset set in EU - then redid the test and the table was in EU so seems the dataset defaulted to US.  I would have noticed that except on the original dataset it didnt have the location row visible - whereas in the new one it does, must only show that row if its non US?

Thanks for your help

[2017-05-23 10:50] samelamin commented on #22
No worries glad I can help!

[2017-05-23 10:50] #22 closed

[2017-05-23 10:52] kurtmaile opened #23 "BQ Table Schema - Maintaining Original Case of Spark DF Schema"
Hi Sam,

Is it possible to retain the original case for the BQ Table schema generated?  Currently it makes all fields lowercase (customeraccountid) when the original is camel (customerAccountId) - this makes it quite hard for some of the business people to read.  Is this possible at all to retain the original case?

Cheers
K

[2017-05-23 11:05] samelamin commented on #23
Hey kurt

You can probably send a pr to the schema converter
It should be a small one and help you understand the code base

On Tue, 23 May 2017 at 11:52, kurtmaile <notifications@github.com> wrote:

[2017-05-23 13:58] kurtmaile commented on #23
cool will try - just looking at the code nothing jumps out as where this is explicitly happening - assume its implicitly (json4s library?) happening somewhere I cant see - a pointer?

fieldToJson - would appear the where this would happen?

Cheers

[2017-05-23 21:07] kurtmaile commented on #20
Hey Sam,

Let me know where you'd like a donation on this BTW?  Structured streaming in particular will be so key going forward and really excited to be using this with BigQuery.  Im based in London too we should look out for a Spark meetup to meet at (and present?).  Really cool stuff so enjoying it.

Im sure you've seen these but just incase you haven't:

https://databricks.com/blog/2017/05/08/e

[2017-05-23 22:18] samelamin commented on #20
Sounds good. I'll set up a donation button via PayPal soon

how about we get together on a call sometime during the evening. I'm free
on Sunday evening uk time if that works for you
On Tue, 23 May 2017 at 22:07, kurtmaile <notifications@github.com> wrote:

[2017-05-23 23:07] kurtmaile commented on #20
Hey sounds great lets pencil in Sunday although I have a baby so given its a bank holiday weekend and shes a tad unpredictable I cant guarentee it that but lets aim for it!  Do you think you will get anytime to start on the features this week?  Not trying to be pushy just some tight timelines from my project....cheers!

[2017-05-26 13:24] kurtmaile opened #24 "Structured Stremaing schema updates support timeline"
Hi Sam,

You mention that this is not currently supported - is there a timeline for this at all?

Our schemas will almost certainly have attributes added over time post our initial launch (e.g more order attriburtes - these would not be breaking, mostly just addative).  Without schema updates through the stream, this makes such schema evolution more difficult in terms of managing streaming jog and

[2017-05-26 13:37] samelamin commented on #24
Hi Kurt,

This isnt a limitation with the connector, but with Spark itself.

A workaround is to enable schema updates then restart the stream, this will
cause any new updates to be put into BigQuery

Give it a try and let me know if you have any further issues

And we can catch up next weekend too!

On Fri, May 26, 2017 at 2:24 PM, kurtmaile <notifications@github.com> wrote:

[2017-05-26 13:47] #24 closed

[2017-05-30 14:15] kurtmaile commented on #23
Hey Sam any hints as to why the schema casing is all lower case?  Nothing obvious jumps out, I may be missing the missing the obvous too :)

[2017-05-30 14:19] samelamin commented on #23
Hey @kurtmaile I believe its here https://github.com/samelamin/spark-bigquery/blob/master/src/main/scala/com/samelamin/spark/bigquery/converters/BigQueryAdapter.scala#L17

Give it a test locally after you do the pr to ensure it still saves to bq :)

[2017-05-30 19:32] kurtmaile commented on #23
Oh cool thanks - what is the reason you initially made this lower case though so that I dont break things?  Is there a BQ constraint to adhere to?  Thanks for the tip ;)

[2017-05-31 09:01] kurtmaile commented on #20
Hey Sam,

Hope you had a nice long weekend!

Are you going to Spark summit next week?  Wish I was - pretty excited to listen to the keynotes and sessions on replay at least.

Quick question - any progress on the structured streaming 2.1 watermark feature addition by any chance?  Think also supporting the 'complete' output mode would be good too which I guess translates to an 'Write_Truncate' write

[2017-06-01 21:22] samelamin commented on #20
Hi @kurtmaile I think I might be able to pick it up this weekend, but it would be useful to have that call first to try and understand what you are attempting to do

[2017-06-08 12:23] kurtmaile commented on #20
Hi Sam, Sorry Ive only just seen this!  Apologies - was my daughters first birthday last weekend and was hectic organising a load of things.....and I was a bit porly myself.

Did you make any progress?  Ill try and get something to you first for context and we can have a call soon - do you have contact email?

Once again really sorry I missed your above comment!

Kurt

[2017-06-08 14:14] kurtmaile commented on #20
Hi I think its easiest to recap on the original post now while I have a work break as its a pretty basic structured streaming example - a sliding window of length 10 minutes, sliding/trigerring every 5, that counts the number orders in these windows.   My team want this moving graph to be visualised showing order counts for our new Hybris ecom platform end of June.

So my basic df is as follows:

[2017-06-13 15:36] samelamin commented on #20
Hi @kurtmaile sorry for the late reply, its conference season so I have been away. I am struggling to find time to fix this tbh, I will try to sit down this weekend and see if I can write something up

With regards to the lowercase, its fine you can send a pr. just bump up the version so users know its a breaking change

[2017-06-13 15:37] samelamin commented on #23
I think initially BQ didnt allow uppercase schemas but this has now been fixed, send a PR over when your free :)

[2017-06-13 16:25] kurtmaile commented on #20
Hey Sam, thanks for the reply!  Yeah loads going on all interesting and great you are presenting too! re: the watermarks, understood you can only do what you can but would be VERY indebted to you if you do and the donation stands...another use case I've got is streaming de-duplication,
[code]
as the upstream can occasionally send dups into kinesis.  But this requires watermarks too.

Cheers for yo

[2017-06-13 16:26] kurtmaile commented on #20
p.s - any of them recorded I could watch?

[2017-06-15 09:12] kurtmaile commented on #20
FYI - As I mentioned am keen to donate generously for your efforts particularily as its your precious time in a busy period - and the rest of the community can benefit of course!  SS is picking up bigtime gith the GA of SS.

Im going to also hopefully get to write a blogpost on databricks/BQ on our project, of which you and this project will be most noteably be mentioned :)

Cool, excited.

Questi

[2017-06-20 09:44] kurtmaile commented on #20
Hiya,

Hope your presentations have been going well Sam.

Any chance youve been able to progress the watermarking?

Cheers mate!

[2017-06-20 09:57] samelamin commented on #20
Hi @kurtmaile I just got back, yes the presentations has been going well

Sorry for the slow progress on this, its just me working on this connector and I can use some help

I still have to read up on watermarking and understand how to best implement it with BQ which is why I would have liked the call to understand the requirements

DM me on Twitter so we can sort something out

Also the talks fro

[2017-06-22 21:11] samelamin commented on #20
Hi @kurtmaile I am just sitting down to try and understand your requirements

just a few questions, I am assuming the source data you are reading from is Kinesis?

I suggest enabling Watermarking SS to BQ with append for now

I think thats achievable in the short term and we can iteratively moved forward

So just so I can understand the requirement, you are attempting to update the count to BQ and

[2017-06-22 21:51] samelamin commented on #23
This has now been released on v 0.1.7

[2017-06-22 21:51] #23 closed

[2017-06-23 05:09] kurtmaile commented on #20
Hi Sam,

Yes datasource is kinesis and append only to BQis fine for now and covers
80-90 % of use cases anyway!  Append only writes once the watermark time is
passed, holding state in memory until then.  With watermarking time I can
set a time where I know most / all of my events will have beeen seen for
that prefix of time - be conservative to be sure!

Your comments below are correct.

Thanks fo

[2017-06-23 06:28] kurtmaile opened #26 "java.io.IOException: Not found: Uris gs"
Hi Sam,

Ive been running my streaming ETL jobs (non watermark ones) in Databricks UAT for about 1.5 weeks.

For the most part everything is working fine, however I do get the occasion IO error to GCP bucket which is odd.

[code]

I *think* this seems to be possibly because of my config / job setup rather then application/transformation logic.

Im going to do some investigating today, but thought

[2017-06-23 09:55] kurtmaile commented on #23
Awesome thanks!

On Thu, 22 Jun 2017 at 22:52, Sam Elamin <notifications@github.com> wrote:

[2017-06-26 16:02] kurtmaile commented on #26
Hi Sam,

Getting a few more of these java.io.IOException: Not found: Uris gs:// excpetions occuring, do you think its worth doing as described above and isolating the storgage buckets?

I dont loose any data when the errors occur (of course), I just restart the job and it works.  The io errors appear intermittent at the moment quite hard to debug why tit cant find the gcp storage bucket for the jo

[2017-06-26 16:05] kurtmaile commented on #20
Hi Sam,

Hope you had a nice weekend.

Did you manage to make progress with watermarking?

If you create a branch / PR for it let me know and I can take a look?

Cheers mate!

[2017-06-28 19:57] samelamin commented on #26
hey @kurtmaile just finding time to look through these issues

I should think that if you had seperate buckets for both checkpointing and data transfer it should resolve the issue. You can try setting a different key in the bucket for the job if you want everything in one master bucket. eg {bucket-name}/{job_name}

Give it a try and give me a shout with the results. Im having a look at the waterma

[2017-06-29 06:38] kurtmaile commented on #26
Hi Sam!

Thanks so much.

I've done as you mentioned will see how testing goes today.

And awesome news on the watermarking! Legend thanks

Kurt

On Wed, 28 Jun 2017 at 20:57, Sam Elamin <notifications@github.com> wrote:

[2017-07-01 10:40] kurtmaile opened #27 "Structured Streaming - Quota Limits and Trigger Interval"
Hi Sam,

Just wanted some advice based on your experience with SS and BQ quota limit management.

I just noticed that the Daily limit for BigQuery Job Loads is:

'1,000 load jobs per table per day (including failures), 50,000 load jobs per project per day (including failures)'

as there 1440 minutes in a day, the Trigger interval on the streaming query needs to be >= 2 minutes this would suggest,

[2017-07-03 16:07] kurtmaile commented on #20
Hi Sam,

How are you getting on with the watermarking mate?

Cheers
Kurt

[2017-07-03 17:33] samelamin commented on #20
Hi Kurt

Sorry I had eye surgery on Friday so I won't be able to do any coding for a
good few weeks

I'll try to have a look when things aren't too blurry and my vision returns

Happy for you to send a pr though :)
On Mon, 3 Jul 2017 at 19:07, kurtmaile <notifications@github.com> wrote:

[2017-07-04 19:07] kurtmaile commented on #20
Hi Sam,

Oh sorry to hear hope its not too serious! Wish you well in your recovery.  Health is the most important thing so take it easy and all the best mate.

Kurt

[2017-07-07 09:49] samelamin commented on #20
@kurtmaile Really good news for you!
I am sure you will be glad to know this issue has now been resolved. Please use ver 0.1.8 and give me a shout if you have any more issues :)

It was a spark bug raised here https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/ForeachSink.scala#L45

TLDR: The reason is `Dataset.foreachPartition()` would fur

[2017-07-07 09:49] #20 closed

[2017-07-07 10:07] kurtmaile commented on #20
Hi Sam,

Oh brilliant, very timely, thanks so much for this.  Looking forward to giving it a crack!  Will let you know how I get on.

Thoughts on the BQ quota issue I created?

Hope the recovery is going well and you didnt exert too much energy :)  Feel sorry for you as eye is not something you want to have issues with.  I have a very bad back which gives me alot of grief so know the feeling.

Whe

[2017-07-07 10:24] samelamin commented on #20
No worries happy to help

Havent look at the quota issue yet, ill have a look at some point this
weekend or next.

With regards to streaming inserts, I decided not to implement it since it
is charged per insert

If more people request it I might have a look at it, but at the moment it
isnt something I would consider implementing

On Fri, Jul 7, 2017 at 1:07 PM, kurtmaile <notifications@github.com>

[2017-07-07 14:16] kurtmaile commented on #26
Hi Sam,

On this issue, I know you are still recovering so only when you get some time to look, Im oddly still getting intermittent issues with the gcp staging bucket.  I've split my jobs out so each is an isolated streaming notebook (but using a shared 'Library' - more on this later) - with its gcp bucket and s3 checkpoint in the spark session.

In databricks, I am using the 3.0 Dbricks runtime (

[2017-07-07 14:41] samelamin commented on #26
Hi Kurt

I will try and replicate when I have time, can you just confirm that not
only are you using seperate buckets but also different checkpoint and
transactionLog locations

Try separating everything at all to rule out any of these issues

Regards
Sam

On Fri, Jul 7, 2017 at 5:16 PM, kurtmaile <notifications@github.com> wrote:

[2017-07-07 15:07] kurtmaile commented on #26
Hi Sam,

I can confirm this yes.

Although, maybe Im going to look stupid here, or my 1 hour per night sleep
taking affect, but what do you mean by 'transactionLog' location exactly?

Each streaming query has its own unique gcp bucket for staging data, check,
S3 bucket / folder for the checkpoint most certainly.

Where is a transactionLog defined/configured though?

Hey thanks for even replying do

[2017-07-07 15:30] kurtmaile commented on #26
note:  sometimes can take a good few hours for it to occur....

On 7 July 2017 at 16:07, Kurt Maile <kurt.maile@xiatech.co.uk> wrote:

[2017-07-10 19:37] kurtmaile opened #29 "BQ Streaming Inserts"
Hi Sam,

You mentioned if more people requested streaming inserts for Structured Steaming youd consider implementing it.

What if I commissioned your time to do this when you are feeling better?  It does cost, but at 5 cents per GB, for the benefit of lower latency, cutting out GCS and having duplicates handled gracefully in the sink (bit of a problem for me at the moment), this would be an awesom

[2017-07-11 06:17] samelamin commented on #29
Hi Kurt

Yeah the eye is much better thanks for asking

While you are right on that no one is doing it. It is mainly because
structured streaming is not in stable release yet. Although this will be
with spark 2.2

Sure you can commission my time. I'll dm you my email on Twitter and we can
work out details

On Mon, 10 Jul 2017 at 20:37, kurtmaile <notifications@github.com> wrote:

[2017-07-11 07:03] kurtmaile commented on #29
Very cool thanks - great to hear the eye is coming along too.

Guess Im jumping the gun a bit using the dbricks runtime 3.0, which has the
2.2 RC - they've GA-ed the kinesis SS source which was a key feature we
needed.  think the general 2.2 release is imminent anyway.

Cool DM me your dets and we can chat.

Keep on recovering!
Kurt

On 11 July 2017 at 07:17, Sam Elamin <notifications@github.com>

[2017-07-11 08:10] #29 closed

[2017-07-11 08:18] selamin commented on #26
Hey @kurtmaile  you can change the transaction log path by adding an option for it on the write stream, similar to what you would do with the the _tableReferenceSink_

`      .option("tableReferenceSink",tableName2)
`

[2017-07-11 08:19] samelamin commented on #26
Hey @kurtmaile  you can change the transaction log path by adding an option for it on the write stream, similar to what you would do with the the _tableReferenceSink_

`      .option("transactionLog",pathToLog)
`

[2017-07-11 08:57] kurtmaile commented on #26
Hey thanks Sam.

I've not set this (is this the WAL location)?, is this a problem do you
think?

Assume it is a local file system path?

Cheers
Kurt

On Tue, 11 Jul 2017 at 09:19, Sam Elamin <notifications@github.com> wrote:

[2017-07-11 08:59] samelamin commented on #26
It is yes, but I *think* you can  also point it to cloud storage

Try separating the transaction log and see if it helps, I am skeptical whether it will fix it though but it is best to rule it out from the start

[2017-07-11 10:52] kurtmaile commented on #27
Hi Sam,

I think I will need to throttle Spark to BQ to keep within the 1000 limit per table per day quota. I am thinking to add below based on a databricks example:

[code]
to the streamingQuery - how have you handled this with your SS deployments?  Havent tried this just yet assume its supported by the library?

Guess another reason to look at streaming inserts so such a quota concern goes away

[2017-07-11 13:44] samelamin commented on #27
Hi @kurtmaile,

We had windows of around 10 minutes and actually never hit the limit.

But I see 5 mins as a good limit to have. You are right, Streaming Inserts will deal with this issue but in my experience the majority of people are not streaming into BQ, rather they load batch data and end up loading in to bq less than 10 times a day

[2017-07-11 13:44] #27 closed

[2017-07-12 11:18] kurtmaile commented on #26
Hey,

I am going to implement this change today - quick question, if I explicitly set the WAL to something different will this cause any issues with existing streaming jobs WAL / metadata?  Im not doing anything stateful - just consume off kinesis stream and write to BQ.  Ill stop my running streaming jobs, make the upgrade and restart with new WAL location.

Is there any restrictions on setting t

[2017-07-13 09:53] kurtmaile commented on #26
Hey,

I could reproduce this by 'very quickly' starting two jobs (subscribed to same kinesis stream) in quick succession via the databricks jobs screen - very odd, almost race condition/threading issue.

Ill keep investigating.  The code in the shared library I load into Databricks is below FYI incase you notice anything squify.

My notebooks each instantiate an instance of the BigQueryStreamingSi

[2017-07-16 11:02] kurtmaile opened #30 "ISSUE: bq_load_timestamp corrupted"
Hi Sam,

Description:

Latest release 0.18 which fixed event time watermarking may have corrupted the BQ load timestamp.

The error below is returned by BQ indicating an invalid timestamp in bq_load_timestamp (note: the streaming queries that populate this DO NOT use watermarking BTW).

I now need to add EXCEPT(bq_load_timestamp) on my queries to stop them erroring (will need to patch these in the

[2017-07-16 16:40] samelamin commented on #30
@kurtmaile should be all good now on v 0.1.9

[2017-07-16 16:40] #30 closed

[2017-07-17 08:00] kurtmaile commented on #26
Hi Sam,

Thanks heaps fo fixing the timestamp issue so quickly - one this topic, I had this occurr again, and interestingly the GS bucket it seems to think it cant find is the one from the LAST job started, maybe indicating in some way isolaton isnt happening?  Be interesting to see if you can reproduce yourself.

Cheers

[2017-07-17 08:04] kurtmaile commented on #30
Thanks heaps - I tried testing patching the old BQ timestamps and go this error - seems I cant do update statements on partiton tables yet? Ekk.....

![image](https://user-images.githubusercontent.com/20066181/28259548-c0a1ef04-6ace-11e7-81e7-8fabc1a3180f.png)

[2017-07-18 11:08] kurtmaile opened #33 "Custom partitioning of historic data using table decorators"
Hi Sam,

As a one off, I am migrating 8 years worth of historic data, ingesting flat files and transforming to the new model, with the idea of writting this data (statically - not streamed) to a number of partitioned table in BQ.  Ive been chatting to some of the BQ guys who suggested table decorators to enable setting a custom partition and thus get the performance gain in queries in BQ (note: th

[2017-07-18 12:06] kurtmaile opened #34 ""Couldn't match type NullType""
Hi Sam,

I am trying to save a dataframe and get an odd 'nulltype" error on schema conversion.

"Couldn't match type NullType"

from this bit of code as you will know.

[code]

The dataFrame is valid, I can print and see the schema find.  Seems all the types in the DF schema are covered in the conversion as youd expect :)

Have you come across this before?  The dataframe is completely valid of cou

[2017-07-18 13:14] samelamin commented on #34
Thats basically saying that the datatype is null so it couldnt match it to a datatype and convert it to BQ

You will have to go through your schema to figure out which column is causing this exception

[2017-07-18 13:14] #34 closed

[2017-07-18 13:16] samelamin commented on #33
YEs we can use table decorators using the api but this functionality is not part of the package at the moment. Sounds like what you are intending to do is a one off so I suggest using dataflow to write to the tables. no need to use spark at all if it is a one off

Table decorators would be a good feature to work on so I am marking this issue as a feature request

[2017-07-18 13:20] samelamin commented on #26
I couldnt reproduce it but I am curious to see if it is only for kinesis streams or can be caused by any other source

I suggest streaming from local storage or S3 to rule out it being an issue from the kinesis side

Or stream into an S3 directory and write to parquet.

Also as a last attempt, try running one query on Databricks and another locally on your machine to rule out any shared context on

[2017-07-18 14:04] kurtmaile commented on #33
Cool thanks would be super cool - I dont know dataflow, my spark job is pretty long, and acutally reuses some of my library to do computations (like currency converting for example) - porting to a different API (Beam) would take a mear mortal like me ages - as much as I would love to get dirty with DF and be able to say I could pick it up like that and move to java (after Scala - yuk!) hehe.  Wish

[2017-07-18 14:16] samelamin commented on #33
perhaps do all your transformations and save the result to partitioned files locally? then write a simple script to upload the tables to the correct tables using the bq command line?

Yeah sure just drop me an email and we can work out the details

[2017-07-18 14:19] kurtmaile commented on #26
Hey,

Thanks for replying - we went live last night so there is a slew of activity and events Im processing.  But, I am seeing alot more of these errors today, and in BQ during ingest there are some 409s I can see (conflicts?) in the dashboard

Dbricks use Kinesis themselves extensively and they've GA the connector, Id doubt it is that, more like something I am doing.

I am not loosing any data, b

[2017-07-18 14:25] samelamin commented on #26
If you are already in production then certainly its better to move into its
own notebook. The cluster will still be running so you should be fine

Manually restarting is def not fun so I will do anything I can to keep the
lights on with no manual intervention and try to isolate the issue. Also if
you convert the notebook to a job on Databricks, cant you set it to restart
when it fails? I seem tor

[2017-07-18 14:32] kurtmaile commented on #26
Yes the notebook is running as a job in dbricks and running with retries (thanks databricks!) so a good amount of time db restarts the job automatically and it picks up again....but seems to be failing at the moment every 20 mins with its confused gs bucket problem...but then works on restart.  So yes its still a notebook, but its running as a streaming job, form which that job uses a library I cr

[2017-07-18 14:33] kurtmaile commented on #26
....the shared library is where I set the spark.sqlContext.xxxx for all the variables for BQ SS sink, including the gs bucket, but the spark session variable should still be isolated, thats the confusing part....

[2017-07-18 14:36] samelamin commented on #26
Hmm it is very difficult to debug without pairing on it. It is most likely
a bug in the connector if the shared library isnt setting anything with
regards to the bucket.

Are you not able to set any BQ specific variables outside the shared
library? It might duplicate your code but atleast it will decouple it and
help narrow down the problem

On Tue, Jul 18, 2017 at 3:33 PM, kurtmaile <notification

[2017-07-18 15:26] kurtmaile commented on #26
yea no problems having someone as a sounding board (even if not pairing) is nice so thank you.  I need to be able to sort my own sh!t out, so will keep trying.  My plan tonight is to move the BQ stuff up into the top level notebook, see how it goes - feels like the best next step.  Thanks a lot mate youre a star appreciate your support.

[2017-07-21 06:12] kurtmaile commented on #26
Hi Sam,

Unfortunately this hasnt worked, I pulled all the BQ code up into the top level notebooks so it isnt in the shared library at all, and still get this wrong buckets issue.  Are you running multiple SS jobs in databricks in prod at your company?  At a loss as to why I am seeing this, my jobs are so simple...

I thought about trying to set this cluster spark env var (spark.driver.allowMultip

[2017-07-21 07:46] kurtmaile commented on #26
Hi Sam,

Just a thought, is it in theory possible to move the storgage bucket configuraton out of the SQL context, maybe define it as an option on the DataStreamWriter much like the other options?

e.g

[code]

Would mean I could have more then 1 sink too per job, at the moment its just 1 sink per job, some of the jobs use the same source.  Just a thought, racking my brain thinking of options.

[2017-07-21 07:54] samelamin commented on #26
Hi @kurtmaile  Thats an idea worth trying, ill push a separate branch and give it a go

In the meantime can you stick in a stack trace. It might give me more information

[2017-07-21 07:57] kurtmaile commented on #26
cool that would be super thanks - will do

[2017-07-21 10:02] samelamin commented on #26
Hey @kurtmaile please try running your notebooks using the above branch and let me know. If this doesnt fix it then Ill add an override to the gcs path

I think the problem is we are storing the gcs bucket in the hadoop config and that gets overwritten

I am assuming in the screenshots you attached earlier, the first job was "customeraccountsevents" then it got overwritten in another job by "inven

[2017-07-21 13:59] kurtmaile commented on #26
Hey yes that is correct - awesome will do that and report back! Legend
thanks so much.

On Fri, 21 Jul 2017 at 11:02, Sam Elamin <notifications@github.com> wrote:

[2017-07-22 07:43] kurtmaile commented on #26
Morning Sam,

Thanks for trying this fix branch.

I tried this in UAT this morning and got the following error:

<img width="1182" alt="screenshot 2017-07-22 08 41 33" src="https://user-images.githubusercontent.com/20066181/28489336-bdbc863e-6eb9-11e7-8009-7beff2dd507f.png">

[2017-07-23 11:00] samelamin commented on #26
Hey @kurtmaile try the latest branch, I can see the tables being created. But because I cant replicate your error it might be a false positive

If that is the case we will have to pass in an override every time we write

[2017-07-23 14:20] samelamin commented on #26
Also @kurtmaile I noticed that you are instantiating a new BigQuerySink per job. This might seem silly but its best to rule it out,  are you sure you are instantiating a new sparkSession? because the default parameter to your bigquerysink is to "SparkSession.builder().getOrCreate()" which might be the reason you are sharing contexts

Lets just rule it out, if you add the below code to your bigquer

[2017-07-24 06:21] kurtmaile commented on #26
Morning Sam - thanks for this.

I had mentioned that I moved the whole code from that library up into the notebook, so I dont use that bigQuerySink class of mine and the top level notebook has the code now.

Should I add the lines above then into the notebook?  Ill send you my notebook via email anyway.

Thanks

[2017-07-24 15:30] samelamin commented on #26
Hey @kurtmaile I set up the gcs bucket to only be written once, have a go but this should stop any overwriting happening

Please build off the gcs_fix branch

[2017-07-24 20:02] kurtmaile commented on #26
Hi Sam have just upgraded to the latest on the gcs_fix branch - will let it run and see what happens, hopefully (fingers crossed) fixes this pesky gcs bucket issue once and for all!  Cheers for trying multiple options and helping to try resolve.

[2017-07-24 20:13] kurtmaile commented on #26
so far so good :)

[2017-07-25 14:23] samelamin commented on #26
@kurtmaile  Added an override for the gcs bucket, you need to set it via the option
[code]

[2017-07-27 11:47] samelamin commented on #26
Fixed on master 0.2.0

[2017-07-27 11:47] #26 closed

[2017-07-28 17:17] samelamin commented on #33
this has been fixed with version 0.2.1. @kurtmaile

[2017-07-28 19:30] kurtmaile commented on #33
Hey great thanks - I'm away this weekend will test on Monday! Exciting...

On Fri, 28 Jul 2017 at 18:17, Sam Elamin <notifications@github.com> wrote:

[2017-08-09 08:12] kurtmaile opened #37 "Feature Request: DML Operations - Update, Delete Support"
Hi Sam,

Hope you are havingt a great holiday!  Thought Id add this to track as we discussed and you thught simple enough to do.

As discussed would be great to be able to invoke these adhoc DML commands when required.  The use-case can include things like hygene / cleaning up data controlled via a periodic spark jobs (e.g periodic removal of any duplicates, updating a corrupted column (e.g bq_loa

[2017-08-09 08:22] kurtmaile opened #38 "Bug: Null type not supported error when setting a null value to a DF column"
Hi Sam,

I think this might be a bug.

Im migrating some existing data in SparkSQL, and if I want to set a null on a dataframe column due to some conditions in the data, I cannot use null explicitly.

e.g

null AS lastUpdateEventId

I get a 'NullType not supported' error with the schema converter, seems it doent like this

If then I change this to an empty string, it does work

e.g

"" AS AS lastU

[2017-08-09 08:31] kurtmaile commented on #38
This might not be able to be supported as the schema converter would not know what the type is as null could be anything.  This is happening if I set null for *all* values of a column (spark defaults to a string type for its inference though) - reason being historical data being migrated I want to have the same schema as the new, but a given value sometimes is just not determinable.....

Anyhow, c

[2017-08-09 22:27] samelamin commented on #38
Hey @kurtmaile Just got back so going through the backlog of things. If I am understanding what you are saying then you need to define a schema type for a column. In other words while Spark does have a "NullType", BQ does not. My only suggestion is to assign a column a type which you are already doing, for complicated types I suggest StructType which will translate as a record

[2017-08-09 22:27] #38 closed

[2017-08-11 20:38] kurtmaile opened #39 "Bug: Streaming Window does not write window.StartTime and window.endTime"
Hi Sam,

Hope you are still enjoying some of the relaxation of your hols and are well rested!

Quick one: I've been trying to build a streaming dataframe using windowing and watermarking.  Im getting data written to BQ, however in the target table and schema (and thus data written) produced in BQ, there is NO window start and end time, which spark usually produces itself when applying the windowin

[2017-08-12 07:24] kurtmaile commented on #39
I have an idea as to why will investigate

[2017-08-12 07:24] #39 closed

[2017-08-13 21:07] samelamin commented on #37
This has been fixed on v0.2.2

[2017-08-13 21:07] #37 closed

[2017-08-19 04:05] 87sanchavan opened #41 "Pyspark complete code"
Hi Sam,
This is amazing library that you built however I was not able to use in python.  Can you please share complete code/example of how to use this from python/pyspark.

Regards
Sanjay

[2017-08-21 21:09] samelamin commented on #41
Hi Sanjay

Below is a sample of reading from BQ

[code]

[2017-08-21 21:09] #41 closed

[2017-09-09 16:25] darylerwin opened #43 "Ability to use this on DataProc Google Platform"
Have you successfully run this on the Dataproc Platform?
Can you provide a working bulid.sbt that you use to compile your scala program.

[2017-09-09 16:42] samelamin commented on #43
Hi I havent used it on dataproc but i have on AWS, and databricks and locally ofcourse

You shouldnt need to set the json file because the application should pick it up from the underlying google engine

You can build using the build.sbt file provided. Give me a shout if you face any issue building it

[2017-09-09 16:42] #43 closed

[2017-09-09 21:35] darylerwin commented on #43
Thanks. Still learning. I was able to use the spotify package for 1.1 Dataproc, 1.2 (Spark 2.2) will not work. It appears your package will run with Spark 2.2. (yes?)
This runs clean for reads but fails on writes.
spark-shell --packages com.github.samelamin:spark-bigquery_2.11:0.2.2
...
table.saveAsBigQueryTable("bigdata:data_analytics_poc.test_write_table1")
[code]

[2017-09-09 21:59] samelamin commented on #43
no worries we all are!

yes it should but you need to set the bucket name,
[code]

[2017-09-10 03:00] darylerwin commented on #43
That worked -- didnt realize that was necessary since the saveas.. appears to have all the needed pieces.
Is there a way to see all the methods(?) for sqlContext for example .. to know all the various setXXX options?

[2017-09-10 08:53] samelamin commented on #43
Sadly no. It's only me working on documentation and I'm clearly not great
at it

If you are using intellij you can try and get some context from the
autocomple

Failing that then have a look at the code. It's all in BigQuerySqlContext

Feel free to send a pr on docs if you are interested

On Sun, 10 Sep 2017 at 04:00, Daryl Erwin <notifications@github.com> wrote:

[2017-09-14 01:35] 87sanchavan opened #44 "java.lang.ClassNotFoundException: java.lang.ProcessEnvironment$Variable"
Hi Sam ,
I m facing this issue.. I think this could be versioning issue. I am same pyspark code you have given in another issue which I had raised. have you ever faced this or you have any idea about it.

java.lang.ClassNotFoundException: java.lang.ProcessEnvironment$Variable
	at java.net.URLClassLoader$1.run(URLClassLoader.java:372)
	at java.net.URLClassLoader$1.run(URLClassLoader.java:361)
	at j

[2017-09-22 13:17] darylerwin commented on #44
Same error .. just coming to post this same problem.
Code works fine from Google Cloud but when run from my desktop using credentials it fails with the above.
[code]

[2017-09-22 14:25] samelamin commented on #44
Hi folks

Can you please post the code snippet you are trying to save?

It seems like perhaps the environment variable hasn't been set up right

Is this Pyspark or scala?
On Fri, 22 Sep 2017 at 14:17, Daryl Erwin <notifications@github.com> wrote:

[2017-09-22 14:34] darylerwin commented on #44
Scala .. must be something in my desktop config - it works on the google cloud vm.
On gcp box I run ..
spark-shell --packages com.github.samelamin:spark-bigquery_2.11:0.2.2,com.github.databricks:spark-avro:204864b6cf  < test.scala

If I run via intellij on my desktop ..
It fails on the last line ... note that I dont have the JsonKey line in the code when I run on gcp.

  import com.samelamin.spark

[2017-09-22 14:56] samelamin commented on #44
Looks like its an issue with setting the env variable, what os are you
using? and whats your java version?

Perhaps install the latest jdk?

On Fri, Sep 22, 2017 at 3:34 PM, Daryl Erwin <notifications@github.com>
wrote:

[2017-09-22 15:24] darylerwin commented on #44
Windows .. I tried setting the GOOGLE_APPLICATION_CREDENTIALS. First time it said it couldnt find the file then I renamed and it found it. Got the above error. So I removed it thinking I could just use the api call instead but still get the error.

using jdk1.8.0_144 and jre1.8.0_111

Are you able to share any intelij settings that might be relevant?
I have your bigquery_2.11-0.2.2.jar
along with

[2017-09-22 15:31] darylerwin commented on #44
Is the json creds file something similar to ..

{
  "type": "service_account",
  "project_id": "xxxx",
  "private_key_id": "xxxxxxa",
  "private_key": "-----BEGIN PRIVATE KEY-----\n
blah blah blah

[2017-09-22 15:36] samelamin commented on #44
Hi Daryl,

that is the json file yes.

It is certainly a problem with env variables and I have not tested the
library against windows so its hard for me to debug it for you without
actually being there

It shouldn't matter about intellij because the issue seems to be separate
to the IDE

I am assuming you are using a fat/uber jar, if you spark submit via the
console/terminal do you get the same er

[2017-09-22 19:22] darylerwin commented on #44
Did you say you didnt use an environment variable? or you do? Did you do anything special? I did in windows environment VARIABLE="/path/to/.json"

[2017-09-23 09:05] samelamin commented on #44
Well ideally you should not need to
this is what environment hacker does. But for some reason the jre on your
environment dies when it tries to set the environment variable

I'd investigate why this line is failing on your os

Java.lang.ClassNotFoundException: java.lang.ProcessEnvironment

I believe it has to do with the jre
On Fri, 22 Sep 2017 at 20:22, Daryl Erwin <notifications@github.com> wrot

[2017-10-03 12:48] Ayyappadas1 opened #45 "Json parsing failed when i was using the saveAsBigQueryTable"
I was trying to load the data to BigQuery using the below  sample code
 val conf1 = new SparkConf().setAppName("App").setMaster("local[2]")
 val sc = new SparkContext(conf1)
    val sqlContext = new org.apache.spark.sql.SQLContext(sc)
sqlContext.setGcpJsonKeyFile("gcskey.json")

// Set up BigQuery project and bucket
sqlContext.setBigQueryProjectId("proj_name")
sqlContext.setBigQueryGcsBucket("gcsb

[2017-10-03 17:55] darylerwin commented on #45
Appears the code saves the data as json then writes that into bigquery. Are you able to review the json file for any issues?

[2017-10-03 18:35] samelamin commented on #45
not sure where the problem is here, can you post the entire stacktrace?

id seperate the reading vs writing to identify where the issue is

[2017-10-04 04:20] Ayyappadas1 commented on #45
Hi Sam

Please find below the full stack

Warning: Ignoring non-spark config property: SPARK_SQL_AUTH_ADMIN=admin
0    [main] INFO  org.apache.spark.SparkContext  - Running Spark version
1.6.2
242  [main] WARN  org.apache.hadoop.util.NativeCodeLoader  - Unable to load
native-hadoop library for your platform... using builtin-java classes where
applicable
404  [main] INFO  org.apache.spark.SecurityM

[2017-10-04 04:23] Ayyappadas1 commented on #45
Hi Daryl,

Are you talking about the auth  key file? That key file is of json format
and is generated directly from bigquery webui

On Tue, Oct 3, 2017 at 11:25 PM, Daryl Erwin <notifications@github.com>
wrote:

[2017-10-04 08:02] samelamin commented on #45
We only need the stack trace not the entire log of your application

But according to that stack trace it seems you might be using the spotify
version of the connector. Pr atleast you have it somewhere on the path

Can you make sure you have no reference to the spotify connector

On Wed, 4 Oct 2017 at 05:23, Ayyappadas1 <notifications@github.com> wrote:

[2017-10-04 09:26] samelamin commented on #44
I am closing this issue as I have not heard anything back and I cannot replicate it

[2017-10-04 09:26] #44 closed

[2017-10-04 09:26] #45 closed

[2017-10-05 15:35] darylerwin commented on #44
A member of our team here found the issue .  it is the hack for read/writing environment variables that doesnt work on windows. He commented out the code as it wasn't apparently required. setting a hadoop environment variable?

 com.samelamin.spark.bigquery.utils.EnvHacker

[2017-10-05 16:09] samelamin commented on #44
ah yes, ironically i added that to make it simpler to use to connector. It
uses the Google Hadoop connector to move data in and out of Google storage
and that needs the Google credentials file in a env variable

Thanks for raising it, if you send a pr ill review and merge. I would do it
myself but i do not have a windows machine to test with

On Thu, Oct 5, 2017 at 4:35 PM, Daryl Erwin <notificati

[2017-10-05 16:33] martinstuder opened #46 "Usage with RStudio's sparklyr"
I attempted to use your library with RStudio's [sparklyr package](https://spark.rstudio.com/). sparklyr's `spark_read_source` relies on availability of a `DefaultSource` which implements `org.apache.spark.sql.sources.RelationProvider`. In a fork of your library I have extended `DefaultSource` as follows (short version):

[code]

The corresponding R/sparklyr code is as follows (using a locally publ

[2017-10-09 13:14] samelamin commented on #46
Hey I am not the strongest with R so I cant help you there, but looking at the stack trace it seems its a spark error rather than a specific problem with this connector. I will close for now as I cant help

sorry for that

[2017-10-09 13:14] #46 closed

[2017-11-14 21:50] mayankshah891 opened #48 "Import Error with Databricks"
**I am attempting to read a table from BigQuery and write it to another database.**

On my first few tries, I was able to read the table from BigQuery, but when I attempted to write said table to the database, I got the following error:

`org.apache.spark.SparkException: Job aborted due to stage failure: Task 1
in stage 13.0 failed 4 times, most recent failure: Lost task 1.3 in stage 13.0 (TID 41,

[2017-11-14 21:59] samelamin commented on #48
Hi

Seems to be a problem with the transaction log. It's hard to be sure
without looking at the full stack trace

The library is built using spark 2.1. I've been meaning to upgrade to 2.2
and I'll be doing that over the next few days

I would say try aiming it at a 2.1 cluster or build a custom package and
see how it goes

Regards
Sam

On Tue, 14 Nov 2017 at 23:50, mayankshah891 <notifications@git

[2017-11-14 22:00] mayankshah891 commented on #48
Wow! thank you for the incredibly fast response! I'm launching a 2.1 cluster now, will let you know how it goes.

EDIT: In case this matters, here is the complete error:

[2017-11-14 22:08] mayankshah891 commented on #48
Update:

So using a v2.1 cluster fixed the initial issue, in that I can read data from BigQuery into Spark. The table does indeed display (!)

Writing to the other database is still producing this weird error, and this time no data came through (besides the schema):

Here is the complete error:

[2017-11-15 09:15] samelamin commented on #48
Hey sorry I'm at a conference so won't have a chance to really look at this
until the conference

So just to clarify this is a fresh cluster with the Google creds json in it
( it must be since you wouldn't be able to read if it wasn't)

Does it fail everytime or after a while? Also is it a structured streaming
save or a batch save? I.e one off save to bigquery?

On Wed, 15 Nov 2017 at 00:08, mayan

[2017-11-15 15:52] mayankshah891 commented on #48
Its a fresh cluster, I have the credentials saved via json correctly (I'm assuming bc I was able to read it at least once).

Now every time I fire up the cluster, it fails to read the table initially. It is a batch save. I was going to run it every night.

This is the error:

`org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 1.0 failed 4 times, most recent failure

[2017-11-15 16:57] samelamin commented on #48
that seems to be a problem with the data being read in, the connector doest
read or use avro.

Is the data being read avro?

On Wed, Nov 15, 2017 at 5:52 PM, mayankshah891 <notifications@github.com>
wrote:

[2017-11-16 15:39] mayankshah891 commented on #48
How do I check if the data is avro? Its a table in BigQuery (obviously), the person who put it there says he doesn't know what avro is, so I'm assuming not? Again, it worked once and just hasn't worked since, but I still have the print statement showing the table in databricks, so I'm 100% sure it worked at least once.

[2017-11-16 16:16] samelamin commented on #48
Can you make sure you are using my connector and not the spotify one? I
believe they convert to avro

On Thu, Nov 16, 2017 at 5:39 PM, mayankshah891 <notifications@github.com>
wrote:

[2017-11-16 16:22] samelamin commented on #48
actually my mistake, digging into the code I see the google hadoop
connector is using avro

https://github.com/samelamin/spark-bigquery/blob/
ed716c8cc5b2f1fdf0d57c0e8da7d7d6e1bc0925/src/main/scala/com/
samelamin/spark/bigquery/BigQuerySQLContext.scala#L89

I am not near my laptop at the moment but I will have a look tomorrow

In the meantime try restart/fresh cluster just to make sure its nothing

[2017-11-16 17:05] mayankshah891 commented on #48
Okay thank you so much for your time and for building this in the first place. I'll try some different clusters and setups and we'll see. Thank you again

[2017-11-16 20:50] mayankshah891 commented on #48
I've tried a bunch of different clusters, to mixed results. I can read in the data sometimes, but if I try to call .show(200) on the data, it fails. Again the error seems to be something to do with partitions? Databricks seems to believe it is done reading the data, but then another file pops up that is past the "endFileNumber", then it throws the error

Someone else was running into an error like

[2017-11-17 17:59] mayankshah891 commented on #48
Sam, I think I figured out the problem. The bigquery table I'm reading from is streaming new data every few seconds, so the lazy transformations in Spark are breaking the code because the file size keeps changing! I just need to call .persist or .cache and hold the data in memory and then it works! (Well, sort of works, its not writing properly but I think that can be fixed as well)

Tentatively I

[2017-11-17 18:46] samelamin commented on #48
Hi no worries glad we got there in the end

Had no idea you were streaming!

Can you close the issue please
On Fri, 17 Nov 2017 at 19:59, mayankshah891 <notifications@github.com>
wrote:

[2017-11-17 18:51] #48 closed

[2017-11-22 10:56] gbordyugov opened #49 "Minimal working example"
Hi Sam,

being new to Spark, I'm wondering whether you happen to have a minimal working example, including a complete set of dependencies.

Best,
Grisha

[2017-11-22 11:00] samelamin commented on #49
You should fine a simple setup on both pyspark and scala on Readme page

On Wed, Nov 22, 2017 at 10:56 AM, Grigory Bordyugov <
notifications@github.com> wrote:

[2017-11-22 12:46] gbordyugov commented on #49
Ok, I'm looking into the SBT-based example. When I'm trying to execute

[code]

with the appropriate file name,  I'm getting the following error message:

[code]

I guess my dependencies are not complete. Here is my build.sbt:

[code]

[2017-11-22 13:17] samelamin commented on #49
thats because it cant find the Spark dependencies. are you sure you have
spark installed locally?

if not you can just get rid of the provided flag

On Wed, Nov 22, 2017 at 12:46 PM, Grigory Bordyugov <
notifications@github.com> wrote:

[2017-11-22 13:38] gbordyugov commented on #49
No, I don't have Spark installed. And the error persists w/o the "provided" flag. My current `build.sbt`:

[code]

[2017-11-22 13:51] samelamin commented on #49
my best suggestion if to look at how read up online on getting spark
installed locally, you cannot use the connector if you do not have spark
installed

there are alot of tutorials online on how to get spark up and running

On Wed, Nov 22, 2017 at 1:38 PM, Grigory Bordyugov <notifications@github.com

[2017-11-22 13:58] gbordyugov commented on #49
Spark seems to be up and running - I can do smth like `val a = sc.textFile("build.sbt"); a.count()`, it spits out the correct numbers. I can see the Web frontend on `localhost:4040` too.

[2017-11-22 14:04] samelamin commented on #49
The error is basically saying it cannot load the spark dataframe class, so its a problem with the environment

perhaps you are using a different version of spark?

Can you post the full stack trace?

[2017-11-22 14:10] gbordyugov commented on #49
that's all I get:
[code]

[2017-11-22 14:20] samelamin commented on #49
are you using spark 2.1? i suggest building an uber jar first using 'sbt clean assembly'

[2017-11-22 14:29] gbordyugov commented on #49
I'm using an older version (1.6.1) of Spark, since my company cluster runs that version.

As a matter of fact, `import org.apache.spark.sql.DataFrame` succeeds, but the type doesn't appear to be visible when I'm running `sqlContext.setGcpJsonKeyFile("<JSON_KEY_FILE>")`

[2017-11-22 14:55] samelamin commented on #49
this package is targeted at 2.1 it will not work with 1.6 sorry

[2017-11-22 15:09] gbordyugov commented on #49
oh, I see, I thought you implicitly accepted 1.6.1 as a valid version from the pasted `build.sbt`

Thanks for clearing this!

[2017-11-22 15:09] #49 closed

[2017-11-24 18:20] lbadi opened #50 "Problems with Guava version using spark 2.2"
Hi Sam! How are you ?

I have been trying to use you library to write in batch mode into a big-query table on a local spark 2.2. I'm having problems with the infamous `java.lang.NoSuchMethodError: com.google.common.base.Splitter.splitToList(Ljava/lang/CharSequence;)Ljava/util/List;`

The last version of spark-bigquery is compatible with spark 2.2 right ?

Also i tried to shade the google.common.ba

[2017-11-24 18:45] samelamin commented on #50
Hey @lbadi that error is really annoying! You are right its def Guava, I would guess you have a local installation of Guava 14 somewhere in your class path which is causing this issue

Can you check your spark lib or jar folders? its most likely there
e.g. {spark-folder}/jars

[2017-11-24 19:19] lbadi commented on #50
Thanks for the fast response sam!!
Yes! You are right i have Guava 14 on /jars !! Are you saying that i can update that jar and it should work ?
Also I solve this using properly the shade plugin but i think is not an elegant way.

Now i'm having another problem with `java.lang.NoClassDefFoundError: com/google/api/client/http/HttpRequestInitializer`. I think i'll be able to solve it with the same t

[2017-11-24 19:21] samelamin commented on #50
No worries, happy to help :)

Yeah I normally just overwrite the guava 14 with a newer version, you only need to do that locally as most clusters will have the latest

[2017-11-24 19:21] #50 closed

[2017-12-07 14:07] pcejrowski commented on #46
@martinstuder
How do you pass configuration?
I've tried:
[code]
but it does not work.

[2017-12-07 14:15] martinstuder commented on #46
@pcejrowski

You will need to pass them as Spark hadoop configuration properties, i.e.
[code]

In case you are interested you might also want to have a look at https://github.com/miraisolutions/sparkbq

[2017-12-07 14:17] pcejrowski commented on #46
Awesome! Many thanks @martinstuder

[2018-01-18 15:25] yohannnyc opened #53 "Import Error with Databricks from a table with streaming"
Hi,

In November of last year my colleague, mayankshah891 raised an issue (#48). We are tying to import data from a BigQuery table where data is streaming into it and we randomly have errors like described in the previous issue.

I have noticed that printing the (almost) full table after caching it helps:

val table = sqlContext.bigQueryTable("bigqueryprojectid:blabla.name_table").cache()
table.sh

[2018-02-09 14:58] skler opened #54 "PySpark: Method saveAsBigQueryTable does not exist"
Hi, I can't run the example in PySpark, because I get the error in title.

[code]

py4j.Py4JException: Method saveAsBigQueryTable([class java.lang.String]) does not exist

[2018-02-09 16:11] samelamin commented on #54
This sounds like you do not have the jar in the path, just make sure it is before running it

[2018-02-09 18:02] mfoti commented on #54
I can see it in logs:
[code]

[2018-02-09 19:01] samelamin commented on #54
Hmmm strange you can try adding it to the python path. But it's easier if
you import ipdb and user the debugger to understand what's happening.

I'll create a fresh environment this weekend and see if I can replicate
On Fri, 9 Feb 2018 at 18:02, Mauro Foti <notifications@github.com> wrote:

[2018-04-09 13:49] ps-githinjose opened #56 "Exception when biQuerySelect Returns Zero Rows"
I am getting the below exception when the bigquery select returns zero records

Exception in thread "main" java.lang.UnsupportedOperationException: empty collection
	at org.apache.spark.rdd.RDD$$anonfun$first$1.apply(RDD.scala:1370)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)

[2018-04-17 11:05] smdmts opened #57 "class cast exception has occurs (Double cannot be cast to Float)"
Hi, I'm trying to analyze firebase data using Spark with this spark-Bigquery. But class cast exception has occurred like Double cannot be cast to Float.
Additionally, Double type exists in the Avro specs, but it seems only Float type casting in the module. (https://avro.apache.org/docs/1.8.1/spec.html)

- code
https://github.com/samelamin/spark-bigquery/blob/d45c73187392f12b09074248c3fcba9a1c40d43

[2018-04-18 13:14] samelamin commented on #57
Hi @smdmts correct, we should be casting float to float not double to float

Good find!

Feel free to send a pr in

[2018-04-18 13:15] samelamin commented on #56
sorry for the late reply I have been away

Yes that looks like a bug, feel free to send a pr in :)

[2018-04-18 13:15] #54 closed

[2018-04-18 13:16] samelamin commented on #54
I couldnt replicate this issue

[2018-04-18 13:18] samelamin commented on #53
yup its because of the table changing mid process
by caching you are freezing the data (snapshot-ing) it I believe

[2018-04-18 13:18] #53 closed

[2018-05-21 04:46] Jeeva-Ganesan opened #60 "Using spark-bigquery connector in AWS EMR Zeppelin"
Hi.

I am trying to use this connector in AWS EMR Cluster. I just downloaded the jar file from here - https://mvnrepository.com/artifact/com.github.samelamin/spark-bigquery_2.11/0.2.4 and placed it in /usr/lib/spark/jars folder

Then trying to use this in zeppelin notebook spark interpreter.

[code]

And this is the error I am getting, can you please help with this.

[code]

[2018-05-21 09:48] samelamin commented on #60
Hi

Looks like you need to create an uber jar because the connector on its own needs the google client. Most clusters already have that but sounds like you need to load it onto zeppelin specifically

I would suggest creating a fat jar and seeing if you can get spark to run a sample application on the EMR, once that works it should be simpler to port it to zeppelin

[2018-05-21 09:48] #60 closed

[2018-05-21 23:24] Jeeva-Ganesan commented on #60
Hi. I created an uber jar with google client library using sbt.

[code]

This is the error I am getting when i submit my spark job with spark submit command ,

[code]

[2018-05-22 14:44] samelamin commented on #60
That is a different error @Jeeva-Ganesan and it has to do with Guava

You need to shade it into the uber jar, if you google it you will see what I mean

I think anything about guava 18 should fix it

[2018-05-22 23:06] Jeeva-Ganesan commented on #60
Yes. I tried that, I changed my build file like this,

[code]
Still got the error, ended up downloading latest guava jar and placing it in spark jars folder (deleting the existing one). Then it worked.

[2018-07-16 07:36] holamap opened #61 "java.lang.ClassCastException: java.lang.Long cannot be cast to java.sql.Timestamp"
I am trying to work with bigquery-public-data:chicago_crime.crime using spark and bigquery, and facing this exception below using samelamin/spark-bigquery package.
java.lang.ClassCastException: java.lang.Long cannot be cast to java.sql.Timestamp
org.apache.spark.sql.catalyst.CatalystTypeConverters$TimestampConverter$.toCatalystImpl(CatalystTypeConverters.scala:294) Is this known bug ?

[2018-08-01 16:36] fbbergamo opened #63 "Write to bigquery using DataframeWriter"
Is there any problem to implement the writing to Bigquery using DataFrameWriter,

What you guys think to implement like the redshift lib?

https://github.com/databricks/spark-redshift/blob/master/src/main/scala/com/databricks/spark/redshift/DefaultSource.scala#L68

I want to use the spark like other formats like:

[code]

This will help to use this gem using the same interface that is already buil

[2018-08-08 22:22] samelamin commented on #63
Sorry for the late reply @fbbergamo, It is a good idea, there isnt a specific reason we cant do this, as far as I know its only the redshift connector that uses this, so there isnt really a spark standard to writing a connector

I think we did start writing a class but it really didn't go anywhere

You can look [here](https://github.com/samelamin/spark-bigquery/blob/master/src/main/scala/com/samel

[2018-08-08 22:25] samelamin commented on #61
Sorry for the super late reply but I just had a daughter so was away for a bit

Seems like this is a bug yes, you can send a PR to add the missing data type [here](https://github.com/samelamin/spark-bigquery/blob/master/src/main/scala/com/samelamin/spark/bigquery/converters/SchemaConverters.scala#L99)

[2018-08-08 22:26] #57 closed

[2018-08-12 18:34] fbbergamo commented on #63
@samelamin  thanks, I will work on and let you know. :)

[2018-10-26 16:13] cheptsov commented on #16
@vijaykramesh I have same issue when running the job in AWS Glue. Did you find how to fix it?

[2018-10-26 17:01] cheptsov commented on #16
@vijaykramesh I applied your fix and still it didn’t help. Do you have any idea what else could cause it?

[2018-10-29 08:52] cheptsov commented on #16
I figured it out. I used an old version of the library where the fix wasn't merged. Everything is OK now. Thanks you for the fix and for the library.

[2018-10-31 00:41] cheptsov opened #67 "runDMLQuery on AWS Glue throws an exception because of Jersey libraries conflict"
When using the runDMLQuery method on AWS Glue, it throws an exception:
[code]

In addition to the exception the job freezes for quite a while. I believe this is caused by the conflict of Jersey libraries in the classpath. Any ideas how this could be either solved or workaround-ed?
Thanks in advance.

[2018-12-27 19:46] michTalebzadeh commented on #57
Hi,
Using the below in Scala code
import com.samelamin.spark.bigquery._

I have a Hive table imported to BigQuery through avro file and table is created in BQ as follows

![image](https://user-images.githubusercontent.com/19841448/50492297-c2786200-0a0e-11e9-872e-408d001c8c80.png)

It is pretty simple. The code tries to load this table first

`//read data from BigQuery Table
println("\nreading dat

[2018-12-28 01:02] michTalebzadeh commented on #57
Hi,

I now have a work-around for this issue using Spark DF transformation to cast date from String to Date and String to Double where appropriate and then save the data in BigQuery table.

Let me know your thoughts.

Thanks

[2019-01-21 14:15] yogesh-0586 opened #68 "read table second time show error Conflict occurred creating export directory"
I tried following code
[code]

first time it show result proper
but I tried second time same code
[code]

then it show following error

  at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
  at org.apache.spark.rdd.RDD.withScope(RDD.scala:362)
  at org.apache.spark.rdd.RDD.take(RDD.scala:1327)
  at org.apache.spark.rdd.RDD$$anonfun$first$1.apply(RDD.scala:1368)
  at

[2019-02-01 10:42] zwennesm opened #69 "Error when changing zone to something other than EU/US"
When you set the zone to the following value: `europe-north1` i get the error as listed below. Is this a bug or are zones just not supported (yet)?

[code]

[2019-02-01 10:46] samelamin commented on #67
Probably best to create an uber jar to include all the dependencies

http://queirozf.com/entries/creating-scala-fat-jars-for-spark-on-sbt-with-sbt-assembly-plugin

[2019-02-01 10:46] #67 closed

[2019-02-01 10:47] samelamin commented on #68
This might be a bug, will have to test this to confirm. Potential bug

[2019-02-01 10:48] samelamin commented on #69
zones are just not supported, feel free to send a pr in though 👍

[2019-02-01 10:48] #69 closed

[2019-02-11 15:34] yogesh-0586 opened #70 "DML query drop and create table takes time"
I tried to drop and create query using `runDMLQuery()`  but for drop and create tables it takes more than 2 minutes please check following log:

[code]
Is possible to create and drop table execute in less time?

[2019-02-16 10:43] yogesh-0586 commented on #70
On spark-shell running DML query run fast, but on spark-submit running in yarn and cluster mode it took almost 2-3 minutes for single query

[2019-02-23 02:59] smith-m opened #71 "Utilize Bigquery Storage API"
Beta officially announced today, there is the opportunity to leverage the bigquery storage api for reading tables from bq. In theory it should have lower latency than gcs dumps and also be able to leverage predicate pushdowns and column projection while also being avro based.

Are there any plans to integrate the storage all with this or another spark dataframe project?

[2019-02-23 02:59] smith-m commented on #71
cloud.google.com/bigquery/docs/reference/storage/

[2019-02-23 11:54] samelamin commented on #71
This is really interesting, thanks for sharing.

Yeah it'll need a separate branch while it's on beta but certainly worth looking into

Or better yet utilising it via an option but using gcs dumps by default

I'll have a look over the coming weeks

[2019-02-23 11:57] samelamin commented on #70
This isn't a bug but more of a performance issue, behaviour is very different between a spark shell and spark submit depending on how you are using spark submit

Best to add some form of telemetry to this ticket to validate that it's the connector not yarn or spark adding this overhead

[2019-03-04 15:05] Nexxxxxxxxxx opened #72 "getting java.lang.NoSuchMethodError on saveAsBigQueryTable"
Hi,
I'm using the 0.2.5 version and getting an error:

![image](https://user-images.githubusercontent.com/5271711/53741673-927e8c80-3e9f-11e9-8b8c-23a68796329b.png)
any ideas?

I do able to DML...

[2019-03-05 10:17] oleg-mir commented on #72
i also see this warning:
![image](https://user-images.githubusercontent.com/5271711/53798307-aaf2b380-3f40-11e9-92f7-4c6ede492352.png)

[2019-03-07 09:19] yogesh-0586 commented on #70
@samelamin Thanks for your reply, I found that where was issues, it's from spark side

[2019-03-07 09:19] #70 closed

[2019-03-13 13:30] badgujarsupriya opened #73 "Exception in thread "main" java.lang.NoSuchMethodError:"
Exception in thread "main" java.lang.NoSuchMethodError: com.google.common.base.Preconditions.checkArgument(ZLjava/lang/String;Ljava/lang/Object;Ljava/lang/Object;)V
        at com.google.cloud.hadoop.io.bigquery.BigQueryStrings.parseTableReference(BigQueryStrings.java:68)
        at com.samelamin.spark.bigquery.BigQueryDataFrame.saveAsBigQueryTable(BigQueryDataFrame.scala:40)

Can you please tell

[2019-03-18 11:58] fxofxo commented on #73
I am facing the same problem. I was using the library without problems in google Dataproc environtment and from 22 of febrary is failing on the last version of dataproc.

[2019-03-18 12:17] samelamin commented on #73
Sorry folks I am away on Holiday till Friday

I believe that error is due to a guava version mismatch, if you google it you will see where the problem is

Same issue appears here https://github.com/samelamin/spark-bigquery/issues/72

I think if you shade your libraries and create a fat jar it should work as long as guava is over version 14, i use 18 in my project and it seems to work but I have no

[2019-03-21 11:56] fxofxo commented on #73
Hi all,
I have try, WITHOUT success,  packing guava library on the jar adding dependency for guava v18, in the

[code]
Any other think I could try?
Thanks.
Felix

[2019-03-23 22:07] samelamin commented on #73
This issue is now fixed, please try the latest release and reopen if not the case

Thanks for raising it

[2019-03-23 22:07] #73 closed

[2019-03-23 22:07] #72 closed

[2019-03-27 14:25] fxofxo commented on #73
Thanks for your time! but it seems not work for me.
I have update pom file to get new version 0.2.6 how ever the error persist.

  _BigQueryClient:141 - Executing query SELECT * FROM [business-intelligence-noticias:DS_DEV_minsait_dev.Rel_CanalCaptacion]
2019-03-27 15:12:22 INFO  BigQueryClient:164 - Staging dataset datanoticiasdesarrollo:spark_bigquery_staging_eu already exists
2019-03-27 15:12:22

[2019-04-08 09:33] kishore8714 opened #75 "Struck with error py4j.protocol.Py4JJavaError: An error occurred while calling o39.saveAsBigQueryTable. : java.lang.NoSuchMethodError: com.google.common.base.Preconditions.checkArgument(ZLjava/lang/String;Ljava/lang/Object;Ljava/lang/Object;)"
Using Amazon EMR with Hadoop2, Java 1.8.
i would like stream data from Amazon Emr to Bigquery
Struck with getting error
  File "/home/hadoop/pyjobs/py_script/s3_bigquery_0_1.py", line 58, in <module>
    bqDF.saveAsBigQueryTable("{0}:{1}.{2}".format(BQ_PROJECT_ID, BQ_DATA_SET, TABLE_NAME),False,0,bigquery.__getattr__("package$WriteDisposition$").__getattr__("MODULE$").WRITE_EMPTY(),bigquery.__geta

[2019-04-08 09:38] kishore8714 commented on #75
Unable to import Module..
import com.samelamin.spark.bigquery._
Import ERROR
 in python files..

[2019-04-25 11:05] samelamin commented on #75
This sounds like a bug that was fixed with the latest release, can you confirm what version you are using?

[2019-04-29 20:10] sunny1978 commented on #75
I picked 2.6.0 and built an uber jar. Still doesn't work. Read and Write, both throwing same error
My Jar size: 15710607 Apr 29 15:49 sparkbigquery-0.0.1-SNAPSHOT.jar (this is a wrapper jar. I built it so that I can have a big uber jar & incl all)

**Read**:
scala> val df = spark.sqlContext.read.format("com.samelamin.spark.bigquery").option("tableReferenceSource","projectid:schema.table").load()
j

[2019-04-30 13:41] sunny1978 commented on #75
2.6.0 also has this error. ShowStopper.

[2019-04-30 16:47] leobenkel opened #76 "Give content of JSON credentials instead of path to it"
Would it be possible to make a change so there is an option to give the content of the credential json file instead of the path to it ?

Thank you !

[2019-06-03 12:42] OsamaMaud commented on #73
yes It still persists, I am also getting this error
Caused by: java.lang.NoSuchMethodError: com.google.common.base.Preconditions.checkArgument(ZLjava/lang/String;Ljava/lang/Object;Ljava/lang/Object;)V
	at com.google.cloud.hadoop.io.bigquery.BigQueryStrings.parseTableReference(BigQueryStrings.java:68)
	at com.samelamin.spark.bigquery.BigQueryDataFrame.saveAsBigQueryTable(BigQueryDataFrame.scala:40)

[2019-06-06 12:36] dgouyette commented on #73
Yes. Still persists for me too

[2019-06-12 09:14] ChitturiPadma commented on #73
I also face the same issue with latest version.

[2019-06-12 10:41] ChitturiPadma opened #77 "Big query export from GCP to AWS S3 using Spark"
Hi Folks,

 I would like to pull data from one of the tables in  big query (GCP) to AWS S3. Both are different clusters. Is it possible to pull data from GCP to AWS, using Spark ?

[2019-06-17 06:53] AyWa commented on #73
Similar issue on my side, didnt found work arround yet

[2019-06-17 09:34] dgouyette commented on #73
I created a workflow with this dependencies provided by the cluster :
And it solves differents versions issues

[code]

[2019-06-18 08:40] AyWa commented on #73
@dgouyette Thank you it is working.
I could also make it works by forcing `"com.google.guava:guava:27.0.1-jre"` to be use

[2019-06-28 10:48] alphacr commented on #69
@zwennesm I'm having the same problem and it seems that the library didn't add the `europe-north1` string to the job's name when it's trying to locate it.

I'm currently trying to load tables into BigQuery and the job was able to run but I received the same error message due to the job name being different from those that is actually being run in BigQuery.

Whenever I'm trying to load a table from

[2019-07-02 05:51] ghost commented on #69
I started out with the same fix as you mentioned, but I ended up moving to the [Spotify library](https://github.com/spotify/spark-bigquery) due to issues with regions and running the application in Google Dataproc.

[2019-07-16 19:50] ameyamahajan commented on #75
I was able to get this resolved by shading the google libraries.

[code]

[2019-07-17 23:35] ameyamahajan commented on #77
Yes, this works well. I have done this. Just follow the documentation and use latest jars (com.google.cloud.bigdataoss) 2.0.0-RC2.
It would work like charm.

[2019-08-01 11:51] samelamin commented on #75
Cheers for adding the example @ameyamahajan I would really appreciate it if you add a ToDo section in the readme :)

[2019-08-01 11:51] #75 closed

[2019-08-01 11:52] samelamin commented on #77
Yup I also have done this before, assuming spark has access via IAM roles etc then you are good to go

[2019-08-01 11:52] #77 closed

[2019-08-01 11:53] samelamin commented on #76
It can be done ofcourse, but since that would mean hard coding the creds, I would rather not allow bad practice

[2019-08-01 11:53] #76 closed

[2019-08-01 16:30] leobenkel commented on #76
They can be pass as ENV variables

[2019-08-19 20:09] andreclaudino opened #79 "saveAsBigQueryTable exception with StructType column"
I am trying to save data using `saveAsBigQueryTable`, but this is resulting in an error. I simplified the dataframe for a single column, an StructType one, this is the schema:

[code]
When using other fields (of other types) the dataset is saved as expected, so, the error is in StructType columns.

This is the stack

[code]

[2019-08-22 09:17] mohanp062 commented on #73
were you able to fix this? If yes , can you please share the soluion. Thanks

[2019-08-22 09:18] mohanp062 commented on #73
This still doesnt resolve the issue for me

[2019-09-09 14:46] roots4 opened #80 "Export FS must derive from GoogleHadoopFileSystemBase"
Hello,

I'm trying to process some data from BigQuery using the local cluster and then write it in hdfs. I keep getting the following error :

 `java.lang.IllegalStateException: Export FS must derive from GoogleHadoopFileSystemBase.
        at com.google.common.base.Preconditions.checkState(Preconditions.java:456)
        at com.google.cloud.hadoop.io.bigquery.BigQueryConfiguration.getTemporaryPat

[2019-09-17 16:20] mikerlt opened #81 "writing to bigquery from dataproc"
when trying to write to bigquery like so from pyspark in dataproc:
`bigquery = spark._sc._jvm.com.samelamin.spark.bigquery

# Prepare the bigquery context
bq = bigquery.BigQuerySQLContext(spark._wrapped._jsqlContext)
bq.setBigQueryProjectId(BQ_PROJECT_ID)
bq.setGSProjectId(BQ_PROJECT_ID)
bq.setBigQueryGcsBucket(STAGING_BUCKET)
bq.setBigQueryDatasetLocation(DATASET_LOCATION)

# Extract and Transfor

[2019-09-21 11:01] samelamin commented on #79
The problem is most probably in transforming the struct type to the bq schema

Can you provide a sample json record of the broken file so it can help the investigation

[2019-09-21 11:02] samelamin commented on #80
Yeah that is to be expected because we need the Google file system since we stage data down to gcs then to the cluster

You can just download the required jars and create an uber jar

[2019-09-21 11:02] #80 closed

[2019-09-21 11:05] samelamin commented on #81
Sounds like you are missing some libraries, try ensuring the bigdata-interop libraries are added to the class path

Using scala libs from python is always a pain im afraid

[2019-09-21 11:05] #81 closed

[2019-10-01 18:19] #56 closed

[2019-10-05 23:10] michTalebzadeh commented on #73
I came across this error when running on a newer version of Dataproc cluster.

To resolve it do the following in your build (mine assembly) with shade rules to get rid of old references to guava

assemblyShadeRules in assembly := Seq(
ShadeRule.rename("com.google.common.**" -> "my_conf.@1").inAll
)

Also see this dated email of mine

https://groups.google.com/forum/#!msg/cloud-dataproc-discuss/OIC

[2019-10-06 11:20] samelamin commented on #73
Thanks Mich, guava is such a pain. Essentially this is fixed by shading the google common libraries

If the above doesnt work I am happy reopening this ticket

[2020-04-13 18:45] dduran28 opened #83 "Method saveAsBigQueryTable([class java.lang.String]): Issue persists even after shading guava dependecies"
I am still experiencing the above issue when trying to run the PySpark example in databricks.

`# Prepare the bigquery context
bq = bigquery.BigQuerySQLContext(session._wrapped._jsqlContext)
bq.setGcpJsonKeyFile(KEY_FILE)
bq.setBigQueryProjectId(BQ_PROJECT_ID)
bq.setGSProjectId(BQ_PROJECT_ID)
bq.setBigQueryGcsBucket(STAGING_BUCKET)
bq.setBigQueryDatasetLocation(DATASET_LOCATION)

# Load into a tab

[2020-05-12 20:36] dduran28 commented on #83
Bump

[2020-07-13 17:24] samelamin commented on #83
Is this still an issue?

[2020-07-16 20:33] dduran28 commented on #83
Yes it is

[2020-07-17 11:15] samelamin commented on #83
this is dependant on your cluster, can you let me know where you are running it?

spark version, manually create cluster vs EMR/Databricks/Dataproc

[2020-08-04 12:20] ashay10001 opened #84 "Conflict occurred creating export directory already exists"
when i write two bigquery dataframes in for loop using function saveAsBigQueryTable(projectid+schemaname+tablename) it gives the error when writing the table in bigquery where it gives error   Conflict occurred creating export directory. Path gs://mybucket_name/hadoop/tmp/spark-bigquery/spark-bigquery-1595825912980=521003067 already exists

plz reply with solution

[2020-10-08 18:58] samelamin commented on #84
hmmm that sounds like a race condition issue? can you validate if that is the case? try sleeping between writing frames for a certain amount of time

Id like to know more if its due to a race condition or perhaps the way you are saving the table

[2022-03-24 08:16] jasleenarora9 opened #85 "404 not found: Job <job name> not found error"
I am trying to load a hive table whose data is present in a bucket located in us-central1 region to Bigquery dataset in the same region using this library. However, I keep getting this error while running the job although the data is loaded successfully into BigQuery tables.

Exception in thread "main" com.google.api.client.googleapis.json.GoogleJsonResponseException: 404 Not Found
{
  "code" : 40